/* Набор CSS-свойств для отзывчивых изображений. Свойства нужно применить ко всем изображениям,
   поэтому используется селектор тега. */
img {
   display: block;
   max-width: 100%;
   height: auto;
}
